/*图片*/
.abs-center{
    position: relative;
    top: 50%;
    right: 0.7em;
    transform: translateY(-50%);
    z-index: 1;
}
.title-h-center{
    position: relative;
    padding-bottom: 8px;
    bottom: 430px;
    color: white;
}

@media screen and (max-width: 1200px) {
    .title-h-center{
        position: relative;
        padding-bottom: 8px;
        bottom: 320px;
        color: white;
    }
}
@media screen and (max-width: 992px) {
    .title-h-center{
        position: relative;
        padding-bottom: 8px;
        bottom: 250px;
        color: white;
    }
}

@media screen and (max-width: 768px) {
    .title-h-center{
        position: relative;
        padding-bottom: 8px;
        bottom: 170px;
        color: white;
    }
}
.page-desc{
    opacity: .8;
    word-break: break-word;
}


/*导航*/
/*导航列表内容*/
.posts-row {
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 15px;
}
.posts-row>*{
    margin-left: 8px!important;
    margin-right: 8px!important;
}

@media screen and (max-width: 768px) {
    .posts-row>*{
        margin-left: 5px!important;
        margin-right: 5px!important;
    }

}
.posts-item.card{
    width: calc(25% - 19px);
    display: inline-block;
    margin: 8px;
    padding: 10px;
    vertical-align: top;
    transition: .3s;
}
@media screen and (max-width: 992px) {
    .posts-item.card{
        width: calc(32% - 16px);
        display: inline-block;
        margin: 8px;
        padding: 10px;
        vertical-align: top;
        transition: .3s;
    }
}

@media screen and (max-width: 768px) {
    .posts-item.card{
        width: calc(45% - 5px);
        display: inline-block;
        margin: 5px;
        padding: 10px;
        vertical-align: top;
        transition: .3s;
    }
}
.posts-item{
    padding: 20px;
    margin: 15px 0;
    background: #fff;
    overflow: hidden;
    transition: .2s;
    box-shadow: 0 0 10px rgba(116, 116, 116, 0.08);
    border-radius: 8px;
}

.posts-item.card .item-thumbnail{
    width: 100%;
    padding-bottom: 70%;
}

.posts-item .item-thumbnail{
    width: 190px;
    height: 0;
    padding-bottom: 70%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.item-thumbnail img{
    position: absolute;
}
/*触摸图片变大*/
.item-thumbnail img:hover{
    transform: scale(1.1);
}

.fit-cover{
    width: 100%;
    height: 100%;
    transition: all .2s;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
}

/*文字*/
.posts-item.card .item-body{
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0;
}
.posts-item.card .item-heading{
    min-height: 2.8em;
}
.posts-item.card .item-heading, .posts-mini-con .item-heading{
    font-size: 14px;
}
.posts-item .item-heading{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 1.4em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    white-space: normal;
    max-height: 2.8em;
}
.posts-item .item-heading>a{
    font-weight: bold;
    color: unset;
}
.posts-item .item-heading>a:hover{
    color: #f78da7;
}

.posts-item.card .item-tags{
    min-height: 23px;
}

.scroll-x{
    white-space: nowrap;
}

.posts-item .item-tags a{
    font-size: 11px;
    padding: 2px 5px;
    margin-right: 5px;
}
.c-blue{
    color: var(--this-color);
    --this-color: #2997f7;
    --this-bg: rgba(41,151,247,.1);
}

.but{
    border-radius: 4px;
    display: inline-block;
    border-radius: 4px;
    transition: .15s;
    border: 1px solid var(--this-border);
    vertical-align: middle;
    padding: 0.3em 0.6em;
    text-align: center;
    font-weight: 400;
    box-shadow: var(--this-shadow);
    background: var(--this-bg);
    color: var(--this-color);
    --main-color: var(--this-color);
    --this-bg: rgba(41,151,247,.1);
    --this-border: transparent;
    --this-shadow: none;
    --this-color: #2997f7;
    text-shadow: 0 0 0;
    line-height: 1.44;
}

.but:hover{
    /*border: 1px solid white;*/
    box-shadow: -8px -8px 12px rgba(41,151,247,.1);;
}

.flex.jsb {
    justify-content: space-between;
}
.flex.ac{
    align-items: center;
}
.flex{
    display: flex;
}

.posts-item.card .item-meta item{
    font-size: 12px;
}

.posts-item .item-meta item{
    margin-right: 8px;
    font-size: 13px;
}

.posts-item .item-meta a{
    color: inherit;
}

.item-meta .avatar-mini{
    transform: translateY(-1px);
}
.avatar-mini{
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    --this-size: 38px;
    width: var(--this-size);
    height: var(--this-size);
}
.avatar{
    border-radius: 100%;
    display: inline-block;
    width: 80%;
    height: 80%;
    transition: all .2s;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
}