dropdown-menu{
    background-color: #ffffff;
    border-radius: 8px;

}
.dropdown-menu .dropdown-item{
    color: #4e5358;
}
.dropdown-menu .dropdown-item:hover{
    color: #f04494;
}
.navbar-collapse .nav-item .nav-link{
    color: #4e5358;
    padding: 15px 10px;
    font-size: 16px;
    font-weight: 400;
}
.navbar-collapse .nav-item .nav-link:hover{
    color: #f04494;
}