/*header*/


/*bootstrap 轮播图*/
.tab-content>.active{
    display: inline-table;
}


/*轮播图*/
.broadcast img{
    height: 468px;
    width: 100%;
}

@media screen and (max-width: 992px) {
    .broadcast img {
        height: 300px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .broadcast img {
        height: 200px;
        width: 100%;
    }
}


/*集合*/
.main-shadow{
    box-shadow: 0 0 10px rgba(116, 116, 116, 0.08);
    transition: box-shadow .3s;
}
.gutters-5>div{
    padding-right: 5px;
    padding-left: 5px;
}
.gutters-5 .style-4{
    margin-bottom: 0;
    border-radius: 8px 8px 0 0;
}


.graphic>.fit-cover{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .2s;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
}

img.lazyloaded{
    -webkit-animation: lazy_blur .5s;
    animation: lazy_blur .5s;
}

img.lazyloaded:hover{
    transform: scale(1.1);
}

.graphic-mask{
    background: #000;
}

/*.abs-center{
    text-align: right;
}

.abs-center.right-top{
    left: auto;
    width: auto;
}

badge.b-black{
    background-color: rgba(0, 0, 0, .2);
}*/

/*集合下部分 文字*/
.text-ellipsis{
    /*隐藏文字 控制方块大小*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.gutters-5 a:hover{
    color: #f78da7;
}

/*分类和软件*/
.classification li>a{
    display: inline-block;
    padding: 2px 11px;
    font-weight: 500;
    border-radius: 20px;
    margin: 0 1px;

}

.classification li>a:hover{
    color: #f78da7;
}
.classification li >.nav-link.active{
    background: #f04494;;
    color: #fff!important;
}

/*软件列表*/
.posts-row {
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 15px;
}
.posts-row>*{
    margin-left: 8px!important;
    margin-right: 8px!important;
}

@media screen and (max-width: 768px) {
    .posts-row>*{
        margin-left: 5px!important;
        margin-right: 5px!important;
    }

}
.posts-item.card{
    width: calc(25% - 16px);
    display: inline-block;
    margin: 8px;
    padding: 10px;
    vertical-align: top;
    transition: .3s;
}
@media screen and (max-width: 992px) {
    .posts-item.card{
        width: calc(33.3% - 16px);
        display: inline-block;
        margin: 8px;
        padding: 10px;
        vertical-align: top;
        transition: .3s;
    }
}

@media screen and (max-width: 768px) {
    .posts-item.card{
        width: calc(50% - 10px);
        display: inline-block;
        margin: 8px;
        padding: 10px;
        vertical-align: top;
        transition: .3s;
    }
}
.posts-item{
    padding: 20px;
    margin: 15px 0;
    background: #fff;
    overflow: hidden;
    transition: .2s;
    box-shadow: 0 0 10px rgba(116, 116, 116, 0.08);
    border-radius: 8px;
}

.posts-item.card .item-thumbnail{
    width: 100%;
    padding-bottom: 70%;
}

.posts-item .item-thumbnail{
    width: 190px;
    height: 0;
    padding-bottom: 70%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.item-thumbnail img{
    position: absolute;
}
/*触摸图片变大*/
.item-thumbnail img:hover{
    transform: scale(1.1);
}

.fit-cover{
    width: 100%;
    height: 100%;
    transition: all .2s;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
}

/*文字*/
.posts-item.card .item-body{
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0;
}
.posts-item.card .item-heading{
    min-height: 2.8em;
}
.posts-item.card .item-heading, .posts-mini-con .item-heading{
    font-size: 14px;
}
.posts-item .item-heading{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 1.4em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    white-space: normal;
    max-height: 2.8em;
}
.posts-item .item-heading>a{
    font-weight: bold;
    color: unset;
}
.posts-item .item-heading>a:hover{
    color: #f78da7;
}

.posts-item.card .item-tags{
    min-height: 23px;
}

.scroll-x{
    white-space: nowrap;
}

.posts-item .item-tags a{
    font-size: 11px;
    padding: 2px 5px;
    margin-right: 5px;
}
.c-blue{
    color: var(--this-color);
    --this-color: #2997f7;
    --this-bg: rgba(41,151,247,.1);
}

.but{
    border-radius: 4px;
    display: inline-block;
    border-radius: 4px;
    transition: .15s;
    border: 1px solid var(--this-border);
    vertical-align: middle;
    padding: 0.3em 0.6em;
    text-align: center;
    font-weight: 400;
    box-shadow: var(--this-shadow);
    background: var(--this-bg);
    color: var(--this-color);
    --main-color: var(--this-color);
    --this-bg: rgba(41,151,247,.1);
    --this-border: transparent;
    --this-shadow: none;
    --this-color: #2997f7;
    text-shadow: 0 0 0;
    line-height: 1.44;
}

.but:hover{
    /*border: 1px solid white;*/
    box-shadow: -8px -8px 12px rgba(41,151,247,.1);;
}

.flex.jsb {
    justify-content: space-between;
}
.flex.ac{
    align-items: center;
}
.flex{
    display: flex;
}

.posts-item.card .item-meta item{
    font-size: 12px;
}

.posts-item .item-meta item{
    margin-right: 8px;
    font-size: 13px;
}

.posts-item .item-meta a{
    color: inherit;
}

.item-meta .avatar-mini{
    transform: translateY(-1px);
}
.avatar-mini{
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    --this-size: 38px;
    width: var(--this-size);
    height: var(--this-size);
}
.avatar{
    border-radius: 100%;
    display: inline-block;
    width: 80%;
    height: 80%;
    transition: all .2s;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
}








