/*page-cover 开业图片*/
.page-cover{
    padding-bottom: calc(25% + 80px);
}
.page-cover{
    text-shadow: 0 0 5px rgb(0 0 0 / 20%);
    --main-color: #fff;
    color: #fff;
    position: relative;
    overflow: hidden;
    padding: 0;
    padding-bottom: 70%;
    border-radius: 8px;;
}

.zib-widget{
    clear: both;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.page-cover>.fit-cover{
    position: absolute;
}
.fit-cover{
    width: 100%;
    height: 100%;
    transition: all .2s;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
}

.linear-mask{
    background-image: linear-gradient(0deg,rgba(29,41,49,.4) 3em,rgba(255,255,255,0) 8em);
}

.page-cover >.page-cover-con{
    position: absolute;
    bottom: 0;
    font-size: 16px;
    z-index: 1;
}

.title-h-left:before{
    width: 40px;
    height: 3px;
    top: auto;
    left: 0;
    bottom: 3px;
    transition: .4s;
    position: absolute;
    content: '';
    background: #f04494;
    border-radius: 5px;
    box-shadow: 1px 1px 3px -1px #f04494;
}
.list-inline{
    margin-left: 0;
}
.box-body{
    padding: 15px;
}
.title-h-left{
    position: relative;
    padding-bottom: 8px;
}

.page-cover .page-desc{
    opacity: .8;
    word-break: break-word;
}

/*导航*/
/*导航列表内容*/
.posts-row {
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 15px;
}
.posts-row>*{
    margin-left: 8px!important;
    margin-right: 8px!important;
}

@media screen and (max-width: 768px) {
    .posts-row>*{
        margin-left: 5px!important;
        margin-right: 5px!important;
    }

}
.posts-item.card{
    width: calc(33.3% - 19px);
    display: inline-block;
    margin: 8px;
    padding: 10px;
    vertical-align: top;
    transition: .3s;
}
@media screen and (max-width: 992px) {
    .posts-item.card{
        width: calc(32% - 16px);
        display: inline-block;
        margin: 8px;
        padding: 10px;
        vertical-align: top;
        transition: .3s;
    }
}

@media screen and (max-width: 768px) {
    .posts-item.card{
        width: calc(45% - 5px);
        display: inline-block;
        margin: 5px;
        padding: 10px;
        vertical-align: top;
        transition: .3s;
    }
}
.posts-item{
    padding: 20px;
    margin: 15px 0;
    background: #fff;
    overflow: hidden;
    transition: .2s;
    box-shadow: 0 0 10px rgba(116, 116, 116, 0.08);
    border-radius: 8px;
}

.posts-item.card .item-thumbnail{
    width: 100%;
    padding-bottom: 70%;
}

.posts-item .item-thumbnail{
    width: 190px;
    height: 0;
    padding-bottom: 70%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.item-thumbnail img{
    position: absolute;
}
/*触摸图片变大*/
.item-thumbnail img:hover{
    transform: scale(1.1);
}

.fit-cover{
    width: 100%;
    height: 100%;
    transition: all .2s;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
}

/*文字*/
.posts-item.card .item-body{
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0;
}
.posts-item.card .item-heading{
    min-height: 2.8em;
}
.posts-item.card .item-heading, .posts-mini-con .item-heading{
    font-size: 14px;
}
.posts-item .item-heading{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 1.4em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    white-space: normal;
    max-height: 2.8em;
}
.posts-item .item-heading>a{
    font-weight: bold;
    color: unset;
}
.posts-item .item-heading>a:hover{
    color: #f78da7;
}

.posts-item.card .item-tags{
    min-height: 23px;
}

.scroll-x{
    white-space: nowrap;
}

.posts-item .item-tags a{
    font-size: 11px;
    padding: 2px 5px;
    margin-right: 5px;
}
.c-blue{
    color: var(--this-color);
    --this-color: #2997f7;
    --this-bg: rgba(41,151,247,.1);
}

.but{
    border-radius: 4px;
    display: inline-block;
    border-radius: 4px;
    transition: .15s;
    border: 1px solid var(--this-border);
    vertical-align: middle;
    padding: 0.3em 0.6em;
    text-align: center;
    font-weight: 400;
    box-shadow: var(--this-shadow);
    background: var(--this-bg);
    color: var(--this-color);
    --main-color: var(--this-color);
    --this-bg: rgba(41,151,247,.1);
    --this-border: transparent;
    --this-shadow: none;
    --this-color: #2997f7;
    text-shadow: 0 0 0;
    line-height: 1.44;
}

.but:hover{
    /*border: 1px solid white;*/
    box-shadow: -8px -8px 12px rgba(41,151,247,.1);;
}

.flex.jsb {
    justify-content: space-between;
}
.flex.ac{
    align-items: center;
}
.flex{
    display: flex;
}

.posts-item.card .item-meta item{
    font-size: 12px;
}

.posts-item .item-meta item{
    margin-right: 8px;
    font-size: 13px;
}

.posts-item .item-meta a{
    color: inherit;
}

.item-meta .avatar-mini{
    transform: translateY(-1px);
}
.avatar-mini{
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    --this-size: 38px;
    width: var(--this-size);
    height: var(--this-size);
}
.avatar{
    border-radius: 100%;
    display: inline-block;
    width: 80%;
    height: 80%;
    transition: all .2s;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
}

/*侧边*/

.sidebar{
    float: left;
    width: 311px;
    position: unset;
}
@media (max-width: 996px) {
    .sidebar{
        display: none;
    }
}
.user-card{
    padding: 0;
    overflow: hidden;
}
.zib-widget{
    clear: both;
    background: #fff;;
    padding: 15px;
    box-shadow: 0 0 10px rgba(116, 116, 116, 0.08);;
    border-radius: 8px;;
    margin-bottom: 20px;
}

.user-card .user-cover{
    border-radius: 8px 8px 0 0;
}

.graphic>.fit-cover{
    position: absolute;
    width: 100%;
    height: 100%;
}

img.lazyloaded{
    -webkit-animation: lazy_blur .5s;
    animation: lazy_blur .5s;
}

.user-card.widget .user-cover+.card-content{
    margin-top: -55px;
}
.user-card .card-content{
    padding: 15px;
}
.user-card.widget .user-avatar{
    text-align: center;
}

.avatar-lg,.avatar-img{
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    width: 80px;
    height: 80px;
}

.avatar{
    border-radius: 100px;
    display: inline-block;
    opacity: 0.9;
}
.avatar,.fit-cover{
    width: 100%;
    height: 100%;
    transition: all .2s;
    object-fit: cover;
}

.muted-color{
    color: #777;
}

/*登录按钮*/
.jb-blue {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.jb-blue span {
    display: block;
    margin-left: 0.3em;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.jb-blue svg {
    display: block;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.jb-blue:hover .svg-wrapper {
    -webkit-animation: fly-1 0.6s ease-in-out infinite alternate;
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.jb-blue:hover svg {
    -webkit-transform: translateX(1.2em) rotate(45deg) scale(1.1);
    -ms-transform: translateX(1.2em) rotate(45deg) scale(1.1);
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.jb-blue:hover span {
    -webkit-transform: translateX(5em);
    -ms-transform: translateX(5em);
    transform: translateX(5em);
}

.jb-blue:active {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

@-webkit-keyframes fly-1 {
    from {
        -webkit-transform: translateY(0.1em);
        transform: translateY(0.1em);
    }

    to {
        -webkit-transform: translateY(-0.1em);
        transform: translateY(-0.1em);
    }
}

@keyframes fly-1 {
    from {
        -webkit-transform: translateY(0.1em);
        transform: translateY(0.1em);
    }

    to {
        -webkit-transform: translateY(-0.1em);
        transform: translateY(-0.1em);
    }
}

.signin-loader{
    height: 34px;
    font-size: 14px;
    font-weight: 400;
    margin:0 auto;
}

/*社交登录*/
.social-separator{
    padding: 10px 0;
}
.separator{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.muted-3-color{
    color: #b1b1b1 ;
}
.separator::after, .separator::before{
    content: "";
    background: rgba(50, 50, 50, 0.06);
    max-width: 20%;
    height: 1px;
    margin: 0 1em;
    flex: 1;
}

/*社交登录 qq 微信 微博等等*/

.social_loginbar{
    text-align: center;
}

.social-login-item.qq{
    background: #1296db;
}
.social-login-item.wechat{
    background: #24B76a;
}
.social-login-item.weibo{
    background: #EA5d5c;
}
.social-login-item.baidu{
    background: #4e6ef2;
}
.social-login-item.zhifubao{
    background: #1296db;
}
.social-login-item.github{
    background: #505050;
}

.social_loginbar .social-login-item, .social_loginbar .xh-social-item{
    float: none;
    display: inline-block;
    width: 32px!important;
    height: 32px!important;
    line-height: 32px;
    cursor: pointer;
    border-radius: 50px;
    margin: 3px 5px;
}

.social_loginbar a{
    transition: .2s ease-out;
}
.social_loginbar a:hover{
    transform: scale(1.1);
}
.social-login-item{
    color: #fff!important;
}
.social-login-item.button-lg{
    width: 120px!important;
}